*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
/* this --mainBlue is the syntax needed to save a color as a variable for easier use */
:root {
  --info:#17A2B8;
  --mainBlue:#2a2a72;
  --greyBackground:#141414
}

/* end css reset \\\\\\\\\\\\\\ */


/* font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.App {
  text-align: center;
}

body,html {
  /* background-color: #141414; */
  background: var(--greyBackground) !important;
  color: white!important;
  font-family: 'Bebas Neue', cursive!important;
  /* important used here to override bootstrap font*/
 
}


#navbar {
display: flex;
justify-content: center;
align-content: center;
}

.navbar-brand {
  margin-top: 20px;
}

.text-title {
display: flex;
justify-content: center;
align-content: center;
margin-top: 50px;
font-family: 'Bebas Neue', cursive!important;
letter-spacing: 3px;
}

.jumbotron {
background-image: url('https://images.unsplash.com/photo-1529176601319-48a49e19725c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
max-width: 100vw;
height: 80vh;
text-align: center;

/* fix the image width or make the jumbotron not fluid so that it doesnt need to repeat */
color: white;
}

#bootstrapButton {
  font-size: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

p {
  letter-spacing: 1px;
}

#jumbotronParagraph {
  font-size: 35px;
}

#homeTitle {
  font-size: 80px!important;
}